/* customized navigator*/

.navbar,.navbar-default {
  background-color: #0E1449;
  padding: 10px 0;
  font-size:2.25em;
  border-bottom: 4px solid #ee0;
}

.navbar-brand {
  font-size:4rem;
  color:#eeeeee !important;
}

.navbar-brand:hover {
  color:#42f46b !important;
}

ul.nav li.page-scroll a {
  color: #42f46b;
}

ul.nav li.page-scroll a:hover {
  color: #0e1449;
  background-color: #42f46b;
}

ul.nav li.page-scroll.active a {
  background-color:#42f46b;
  color:#0e1449;
}

/*HEADER SECTION */

header img[alt="itchakhun-picture"] {
  max-width:30%;
}

#top-page {
  padding-top: 40px;
}

/*ABOUT section*/

#about p.container {
  padding-left:40px;
  padding-right:40px;
  font-size:18px;
}

hr {
  border:none;
  border-bottom:5px solid;
  max-width:500px;
  margin: 30px auto 25px;
}

/*/image gallery*/

#port-photo {
  line-height: 0;
  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px;
}

#port-photo img {
  width: 100% !important;
  height: auto !important;
}

@media (max-width:1200px) {
  #port-photo {

    -webkit-column-count: 4;
    -moz-column-count:    4;
    column-count:         4;
  }
}
@media (max-width:1000px) {
  #port-photo {

    -webkit-column-count: 3;
    -moz-column-count:    3;
    column-count:         3;
  }
}

@media (max-width:800px) {
  #port-photo {

    -webkit-column-count: 2;
    -moz-column-count:    2;
    column-count:         2;
  }
}
@media (max-width:400px) {
  #port-photo {

    -webkit-column-count: 1;
    -moz-column-count:    1;
    column-count:         1;
  }
}
